[submodule "software/ext/bottle"]
	path = software/ext/bottle
	url = https://github.com/bottlepy/bottle.git
	branch = release-0.12
[submodule "software/ext/googletest"]
	path = software/ext/googletest
	url = https://github.com/google/googletest
	branch = master
[submodule "software/ext/veutil"]
	path = software/ext/veutil
	url = https://github.com/victronenergy/veutil.git
	branch = master
