[submodule "software/ext/velib"]
	path = software/ext/velib
	url = git@git.victronenergy.com:victron/velib.git
	branch = master
[submodule "software/ext/qslog"]
	path = software/ext/qslog
	url = https://github.com/victronenergy/QsLog.git
	branch = master
[submodule "software/ext/bottle"]
	path = software/ext/bottle
	url = https://github.com/bottlepy/bottle.git
	branch = release-0.12
[submodule "software/ext/googletest"]
	path = software/ext/googletest
	url = https://github.com/google/googletest
	branch = master
