[submodule "software/ext/velib"]
	path = software/ext/velib
	url = git@git.victronenergy.com:victron/velib.git
[submodule "software/ext/qslog"]
	path = software/ext/qslog
	url = https://bitbucket.org/razvanpetru/qslog.git
[submodule "software/ext/bottle"]
	path = software/ext/bottle
	url = https://github.com/bottlepy/bottle.git
	branch = release-0.12
